:root {
  --theme-bg-color-1: #000000;
  --theme-bg-color-2: #191a1e;
  --theme-bg-color-3: #202020;
  --theme-text-color-1: #FFFFFF;
  --theme-text-color-2: #d7b486;
  --theme-text-color-3: #d6a25e;
}
