@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Logo";
  src: url("/assets/font/logo.ttf");
}

@font-face {
  font-family: "Time";
  src: url("/assets/font/time.otf");
}

html,
body,
#__nuxt {
  height: 100%;
}