::before,
::after {
  --tw-content: "";
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  height: 100%;
  background-color: #000000;
  color: white;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "Logo";
  src: url("/assets/font/logo.ttf");
}

@font-face {
  font-family: "Time";
  src: url("/assets/font/time.otf");
}

@font-face {
  font-family: "silka-regular";
  src: url("/assets/font/silka-regular-webfont.ttf");
}

@font-face {
  font-family: "silka-medium";
  src: url("/assets/font/silka-medium-webfont.ttf");
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.v-md-editor {
  box-shadow: none !important;
}
.github-markdown-body img {
  width: 100%;
}

/* 手机端隐藏 */
.v-md-editor__preview-wrapper {
  display: none;
}
.v-md-editor__toolbar-right-wrapper {
  display: none;
}

html[theme-mode="dark"] {
  .v-md-editor__left-area {
    background-color: #000000 !important;
    border-color: rgba(255, 255, 255, 0.2) !important;
  }
  .v-md-editor__left-area-title {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .v-md-editor__toc-nav-item {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .v-md-editor__toolbar {
    border-color: rgba(255, 255, 255, 0.2) !important;
    background-color: #000000 !important;
  }
  .v-md-editor__toolbar-item {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .v-md-editor__toolbar-item:hover {
    background: var(--surface-section) !important;
  }
  .v-md-editor__toolbar-item--active {
    background: var(--surface-section) !important;
  }

  .v-md-textarea-editor pre,
  .v-md-textarea-editor textarea {
    min-height: 80vh;
    background-color: #000000 !important;
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .v-md-editor__editor-wrapper,
  .v-md-editor__preview-wrapper {
    background-color: #000000 !important;
    border-color: rgba(255, 255, 255, 0.2) !important;
  }

  .vuepress-markdown-body {
    background-color: #000000 !important;
    color: white !important;
  }
}

/* 电脑端显示 */
@media (min-width: 1280px) {
  .v-md-editor__preview-wrapper {
    display: block;
  }

  .v-md-editor__toolbar-right-wrapper {
    display: block;
  }

  .search-dialog .t-dialog {
    width: 50% !important;
  }
}
